
<div class="page-content">
    <nav class="page-breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/<%= lang %>/admin/roles/"><span class="tr_lang">Roles</span></a></li>
            <li class="breadcrumb-item active" aria-current="page"><span class="tr_lang">Edit</span></li>
        </ol>
    </nav>
    <div class="row">
        <div class="col-lg-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title"><span class="tr_lang">Edit</span> <span class="tr_lang">role</span></h4>
                    <p class="card-description"><span class="tr_lang">some_text</span></p>
                        <form action="/api/roles/update/" method="post" enctype="multipart/form-data">
                            <fieldset>
                                <div class="form-group">
                                    <label for="nameTm"><span class="tr_lang">Name</span> (Tm)</label>
                                    <input id="nameTm" name="nameTm"value="<%= JSON.parse(data.name).tm %>" class="form-control" type="text">
                                </div>
                                <div class="form-group">
                                    <label for="nameRu"><span class="tr_lang">Name</span> (Ru)</label>
                                    <input id="nameRu" name="nameRu"value="<%= JSON.parse(data.name).ru %>" class="form-control" type="text">
                                </div>
                                <div class="form-group">
									<label><span class="tr_lang">Permission</span></label>
                                    <select class="select2 w-100" name="permissions" id="permissions"></select>
								</div>
                                <button class="btn btn-primary submitter" type="submit">
                                    <span class="tr_lang">Save</span>
                                </button>
                            </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/assets/vendors/select2/select2.min.js"></script>

<script>
    let form={
        nameRu:'',
        nameTm:'',
        permissions:[],
    }
</script>
<script>
    const init = async()=>{
        Object.keys(form).forEach(key => {
            form[key]=$(`#${key}`).val()
            $(`#${key}`).change( function(){
                form[key]=$(this).val()
            })
        });
    }

    $(document).ready(function(){
        init()
        $('form').submit(function(e) {
            $('.submitter').prop('disabled', true);
            e.preventDefault()
            let id =window.location.href.split('/').pop()
            $.ajax({
                url      : $(this).attr('action')+id,
                type     : 'post',
                data     : form,
                dataType : 'json',
                success  : function (res){
                    console.log(res);
                    if (res.success) {
                        Swal.fire(
                            'Good job!',
                            res.message,
                            'success'
                        )
                        $('form').trigger("reset");
                    } else {
                        Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: res.message,
                        })
                    }
                    $('form').trigger("reset");
                    $('.submitter').prop('disabled', false);
                },
                error    : function (error)
                {
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: error,
                        })
                    $('.submitter').prop('disabled', false);
                }
            });
        });
    });
</script>
<script>
    //permissions
    let permissions=JSON.parse('<%- JSON.stringify(data.permissions) %>')
    console.log(permissions);
    let ids=[]
    permissions.forEach(element => {
        ids.push(element.id)
    });
    console.log(ids);
    $(document).ready(function(){
        getSelectData('permissions','permissions',{selectedIds:ids})
        $('#permissions').select2({
            placeholder: 'Select permissions',
            minimumResultsForSearch: 1,
            multiple: true,
        })
    })
    const addOption=(array,id)=>{
        array.forEach(element => {
            $("#"+id)
            .append($("<option></option>")
            .attr("selected", element.selected )
            .attr("value", element.id )
            .text(tr(element.name)));
        });
        $("#"+id).trigger("change");
    }
    const getSelectData=(name,id,search={},)=>{
        const url=`/api/roles/permissions`
        const page=1
        const limit=10
        $.ajax({
            url      : url,
            type     : 'post',
            data     : {
                search,
                page,
                limit
            },
            dataType : 'json',
            success  : function (res) {
                console.log(res);
                if (res.success) {
                    addOption(res.data,id)
                } else {
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: res.message,
                        })
                }
            },
            error    : function (error) {
                Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: res.message,
                        })
            }
        });
    }
</script>
