
<div class="page-content">
    <nav class="page-breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/admin/locations/">Locations</a></li>
            <li class="breadcrumb-item active" aria-current="page">Create</li>
        </ol>
    </nav>
    <div class="row">
            <div class="col-lg-6 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Add Location</h4>
                        <p class="card-description">sum text</p>
                            <form action="/api/locations/store" method="post" enctype="multipart/form-data">
                            <fieldset>
                                <div class="form-group">
									<label>Parent</label>
                                    <select class="select2 w-100" name="parentId" id="parentId"></select>
								</div>
                                <div class="form-group">
                                    <label for="nameTm">Name (Tm)</label>
                                    <input id="nameTm" name="nameTm" class="form-control" type="text">
                                </div>
                                <div class="form-group">
                                    <label for="nameRu">Name (Ru)</label>
                                    <input id="nameRu" name="nameRu" class="form-control" type="text">
                                </div>
                                <div class="form-check form-check-flat form-check-primary">
                                    <label class="form-check-label">
                                        <input type="checkbox" id="active" name="active" checked class="form-check-input">
                                        Active
                                    </label>
                                </div>
                                <button class="btn btn-primary submitter" type="submit">
                                    Save
                                </button>
                            </fieldset>
                            </form>
                    </div>
                </div>
            </div>
    </div>
</div>
<script src="/assets/vendors/select2/select2.min.js"></script>

<script>
    let form={
        nameTm:'',
        nameRu:'',
        parentId:'',
        active:'on',
    }
    $(document).ready(function(){
        onChange()
        $('form').submit(function(e) {
            $('.submitter').prop('disabled', true);
            e.preventDefault()
            $.ajax({
                url      : $(this).attr('action'),
                type     : $(this).attr("method"),
                data     : form,
                dataType : 'json',
                success  : function (res)
                {
                    // response = jQuery.parseJSON(response);
                    console.log(res);
                    if (res.success) {
                        Swal.fire(
                            'Good job!',
                            res.message,
                            'success'
                        )
                        $('form').trigger("reset");
                    } else {
                        Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: res.message,
                        })
                    }
                    $('form').trigger("reset");
                    $('.submitter').prop('disabled', false);
                },
                error    : function (error)
                {
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'internal server error',
                        })

                    $('.submitter').prop('disabled', false);
                }
            });
        });
    });

    const onChange =()=>{
        Object.keys(form).forEach(key => {
            $(`#${key}`).change( function(){
                form[key]=$(this).val()
            })
        });
        $('#active').change(function(){
            if($(this).is(":checked")) {
                //'checked' event code
                form.active='on'
                return;
            }
            form.active=null
        })
        $("#parentId").select2({
            placeholder: 'Select',
            minimumInputLength: 1,
            templateResult: formatState, //this is for append country flag.
            ajax: {
                url: `/api/locations`,
                dataType: 'json',
                type: "POST",
                delay: 250,
                cache: true,
                data: function (params) {
                    console.log(params);
                    return {
                        search: {
                            name:params.term
                        },
                        page:1,
                        limit:10
                    };
                },
                processResults: function (data,params) {
                    params.page = params.page || 1;
                    console.log(data);
                    return {
                        results: $.map(data.data.tabledata, function (item) {
                            let pname=''
                            if (item.parent) {
                                pname=' ('+item.parent.name+')'
                            }
                            return {
                                text: item.name+pname,
                                id: item.id,
                            }
                        }),
                        pagination: {
                            more: (params.page * 10) < data.totalCount
                        }
                    };
                }

            }
        });
    }
    function formatState (state) {
        console.log(state);
        if (!state.id) {
            return state.text;
        }
        var $state = $(
            '<span>' +state.text+ '</span>'
        );
        return $state;
    };
</script>