<nav class="sidebar">
      <div class="sidebar-header">
        <a href="#" class="sidebar-brand">
          Noble<span>UI</span>
        </a>
        <div class="sidebar-toggler active">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
      <div class="sidebar-body">
        <ul class="nav">
          <li class="nav-item nav-category">Main</li>
          <li class="nav-item">
            <a href="/admin/dashboard/" class="nav-link">
              <i class="link-icon" data-feather="home"></i>
              <span class="link-title">Dashboard</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="/admin/orders/" class="nav-link">
              <i class="link-icon" data-feather="package"></i>
              <span class="link-title">Orders</span>
            </a>
          </li>
          <li class="nav-item nav-category">Additionally</li>
          <li class="nav-item">
            <a href="/admin/brands/" class="nav-link">
              <i class="link-icon" data-feather="tag"></i>
              <span class="link-title">Brands</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="/admin/categories" class="nav-link">
              <i class="link-icon" data-feather="grid"></i>
              <span class="link-title">Categories</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#products" role="button" aria-expanded="false" aria-controls="products">
              <i class="link-icon" data-feather="shopping-bag"></i>
              <span class="link-title">Products</span>
              <i class="link-arrow" data-feather="chevron-down"></i>
            </a>
            <div class="collapse" id="products">
              <ul class="nav sub-menu">
                <li class="nav-item">
                  <a href="/admin/products" class="nav-link">Products</a>
                </li>
                <li class="nav-item">
                  <a href="/admin/patterns" class="nav-link">Pattern</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a href="/admin/stores" class="nav-link">
              <i class="link-icon" data-feather="shopping-cart"></i>
              <span class="link-title">Stores</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="/admin/locations" class="nav-link">
              <i class="link-icon" data-feather="map-pin"></i>
              <span class="link-title">Locations</span>
            </a>
          </li>
          <li class="nav-item nav-category">Supervisors</li>
          <li class="nav-item">
            <a href="/admin/users" class="nav-link">
              <i class="link-icon" data-feather="user"></i>
              <span class="link-title">Users</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="/admin/roles" class="nav-link">
              <i class="link-icon" data-feather="users"></i>
              <span class="link-title">Roles</span>
            </a>
          </li>
          <li class="nav-item nav-category">Settings</li>
          <li class="nav-item">
            <a href="/admin/profile" class="nav-link">
              <i class="link-icon" data-feather="instagram"></i>
              <span class="link-title">Profile</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="/admin/settings" class="nav-link">
              <i class="link-icon" data-feather="settings"></i>
              <span class="link-title">Settings</span>
            </a>
          </li>
        </ul>
      </div>
    </nav>
